.inputWrapper {
  display: flex;
  position: relative;
  margin-right: 16px;
}

.inputWrapper svg {
  position: absolute;
  z-index: 10;
  left: 16px;
  top: 12px;
}

.inputWrapper svg path {
  fill: var(--Gray-80);
}

.input {
  padding: 12px 16px;
  color: var(--Black);
  background: var(--White);
  border: 1px solid var(--Gray-80);
  border-radius: 8px;
  width: 100%;
}

.input::placeholder {
  color: var(--Gray-80);
}

.input:hover {
  border-color: var(--Hover);
}

.input:hover::placeholder,
.input:active::placeholder {
  color: var(--Gray-50);
}

.input:focus {
  border-color: transparent;
  outline: 2px solid var(--Black);
}

.input:active {
  border-color: transparent;
  outline: 2px solid var(--Focus);
}

.inputError {
  border: 1px solid var(--Red);
}

.inputIcon {
  padding-left: 48px;
}

.inputLabel {
  font-size: 14px;
  color: var(--Gray-50);
  line-height: 16px;
  margin-bottom: 4px;
}

.alert {
  border-color: var(--Red);
}

.alertMessage {
  font-size: 14px;
  line-height: 16px;
  color: var(--Red);
}
