.btn {
  display: flex;
  border-style: hidden;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--Black);
  color: var(--White);
  width: 100%;
}

.btn svg path {
  fill: var(--White);
}

.btn:hover {
  background-color: var(--Hover);
}

.secondary {
  background: transparent;
  border: 1px solid var(--Black);
  color: var(--Black);
}

.secondary svg path {
  fill: var(--Black);
}

.btn:focus,
.secondary:focus {
  outline: solid 2px var(--Focus);
}

.btn:disabled {
  background: var(--Gray-80);
  color: var(--Gray-50);
}

.btn:disabled svg path {
  fill: var(--Gray-50);
}

.btn:active {
  background: var(--Red);
  color: transparent;
}

.secondary:hover {
  background-color: transparent;
  border-color: var(--Hover);
  color: var(--Hover);
}

.secondary:hover svg path {
  fill: var(--Hover);
}

.secondary:disabled {
  color: var(--Gray-50);
  border-color: var(--Gray-50);
}

.secondary:disabled svg path {
  fill: var(--Gray-50);
}

.secondary:active {
  border-color: transparent;
  background: var(--Red);
  color: var(--White);
}

.secondary:active svg path {
  fill: var(--White);
}

.large {
  padding: 12px 32px;
}

.small {
  padding: 6px 12px;
  width: fit-content;
}

.iconLeft span {
  margin-left: 8px;
}

.iconRight span {
  margin-right: 8px;
}

.active {
  background-color: var(--Red);
  color: var(--White);
  border-color: transparent;
}

.active svg path {
  fill: var(--White);
}

.active:hover,
.active:active {
  background-color: transparent;
  color: var(--Red);
  border-color: var(--Red); 
}

.active:hover svg path,
.active:active svg path {
  fill: var(--Red);
}
