@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: var(--font-excon);
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: auto;
}

:root {
  --Focus: #20a9f3;
  --Hover: #373737;
  --White: #fff;
  --Gray-50: #808080;
  --Gray-80: #ccc;
  --bg: #eeeff0;
  --Black: #191919;
  --Red: #ef233c;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: var(--font-boxing-regular);
  font-size: 64px;
  color: var(--Black);
  line-height: 100%;
}

h2 {
  font-family: var(--font-boxing-regular);
  font-size: 36px;
  color: var(--Black);
  line-height: 100%;
}

h3 {
  font-family: var(--font-excon);
  font-size: 24px;
  color: var(--Black);
  font-weight: 700;
  line-height: 34px;
}

h4 {
  font-family: var(--font-excon);
  font-size: 16px;
  color: var(--Black);
  font-weight: 700;
  line-height: 24px;
}

button {
  font-family: var(--font-excon);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

body {
  font-family: var(--font-excon);
  background: var(--bg);
  height: 100%;
  width: 100%;
}